CREATE TABLE club (id_club VARCHAR(5) NOT NULL, nombre VARCHAR(255) NOT NULL, fundacion INT NOT NULL, ciudad VARCHAR(255) NOT NULL, estadio VARCHAR(255) NOT NULL, presupuesto NUMERIC(15, 2) NOT NULL, PRIMARY KEY (id_club)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE coach (id INT AUTO_INCREMENT NOT NULL, dni VARCHAR(9) NOT NULL, nombre VARCHAR(255) NOT NULL, apellidos VARCHAR(255) NOT NULL, sueldo VARCHAR(255) NOT NULL, id_club VARCHAR(5) DEFAULT NULL, INDEX IDX_3F596DCC33CE2470 (id_club), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE player (id INT AUTO_INCREMENT NOT NULL, nombre VARCHAR(255) NOT NULL, apellidos VARCHAR(255) NOT NULL, dorsal INT NOT NULL, salario NUMERIC(10, 0) NOT NULL, id_club VARCHAR(5) DEFAULT NULL, INDEX IDX_98197A6533CE2470 (id_club), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
ALTER TABLE coach ADD CONSTRAINT FK_3F596DCC33CE2470 FOREIGN KEY (id_club) REFERENCES club (id_club);
ALTER TABLE player ADD CONSTRAINT FK_98197A6533CE2470 FOREIGN KEY (id_club) REFERENCES club (id_club);
